<html>
<body>
<a href="http://www.google.com">
     <img src="JPG File (.jpg)" alt="image is not present" width=300 height=300></a>
     <br>
     <br>
     <br>
     <table border=20>
     <th>Id</th>
     <th>Name</th>
     <tr>
     <td>100</td>
          <td>aaa</td>
</tr>
     <tr>
     <td>200</td>
          <td>bbb</td>
</tr>
<tr>
     <td>300</td>
          <td>ccc</td>
</tr>
<tr>
     <td>400</td>
          <td>ddd</td>
</tr>
</table>
<p>Get your greeting<a href="/sayhello">Click here</a></p>

<marquee>Hello yogesh </marquee>


</body>
</html>